{% extends "todo_list/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<br>
	<div class="w-50 p-4 border mx-auto rounded" style="background-color: #e6e6ff;">
		<form method="post">
			{% csrf_token %}
			<fieldset>
				<legend>Join today</legend>
				{{ form|crispy }}
			</fieldset>
			<div>
				<button class="btn btn-primary btn-sm" type="submit">
					Sign Up
				</button>
			</div>
		</form>
		<div>
			<small>
				Already Have an account <a href="{% url 'signin' %}">Sign In</a>
			</small>
		</div>
	</div>
{% endblock content %}