
{% extends "todo_list/base.html" %}
{% block content %}
{% load static %}
	<div class="mylist_conteiner">
	<div class="container">
		<h2>My todo list</h2>
		<div class="new__task">

			<form action="{% url 'add' %}" method="post" class="" >{% csrf_token %}
				<input type="text" name="content" maxlength="255" placeholder="type new task">
				<button type="submit">&nbsp;Add</button>
			</form>
			<small class="">(Max text length 255 symbols)</small>
		</div>
		<br>

			{% for todo in todo_list %}
				<div class="task">
					<div class="text">
						{% if todo.complete %}
						<p class="complete">{{ todo.content }}</p>
						{% else %}
						<p>{{ todo.content }}</p>
						{% endif %}
						<div class="created_date">Created: {{ todo.date }}</div>
					</div>

					<div class="mylist_buttons">
							<form  action="done/{{ todo.id }}/" method="post">{% csrf_token %}
								<button type="submit">Done</button>
							</form>
							<form action="delete/{{ todo.id }}/" method="post">{% csrf_token %}
								<button type="submit">Delete</button>
							</form>
						</div>
				</div>
				<br>
			{% endfor %}
	</div>
	<div>

	</div>
{% endblock content %}